@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Poppins-Bold"; /* perhatina nama font family ini pastikan benar */
    font-weight: 700;
    font-style: normal;
    src: url(./assets/fonts/Poppins-Bold.woff) format("woff");
  }
  @font-face {
    font-family: "Poppins-SemiBold";
    font-weight: 600;
    font-style: normal;
    src: url(./assets/fonts/Poppins-SemiBold.woff) format("woff");
  }
  @font-face {
    font-family: "Poppins-Medium";
    font-weight: 500;
    font-style: normal;
    src: url(./assets/fonts/Poppins-Medium.woff) format("woff");
  }
  @font-face {
    font-family: "Poppins-Regular";
    font-weight: 400;
    font-style: normal;
    src: url(./assets/fonts/Poppins-Regular.woff) format("woff");
  }
}
